<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="XMUSER">Home</a>
    <a href="view-condenser-declarations">Ver Condensadores</a>
    <a href="ViewLine">Ver Líneas de Transmisión</a>
    <a href="ViewReactor">Ver Reactores</a>
    <a href="ViewSvc">Ver SVC</a>
    <a href="ViewTrans">Ver Transformadores</a>
    <a href="ViewGen">Ver Unidades de Generación</a>

  </div>
  
  <!-- Use any element to open the sidenav -->
  <span (click)="openNav()" style="position: relative; bottom: 40px">
    <img src="../../assets/menu-icon-18.png" width="40" >
  </span>
  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main" class="container">
    <img src="../../assets/153749253168974323.png" width="1000"  >
  </div>