<app-logout></app-logout>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="Admin">Home</a>
  <a href="Create">Crear Agente</a>
  <a href="ViewAg">Ver Agentes</a>
  <a href="CreateXM">Crear usuario de XM</a>
  <a href="ViewXM">Ver usuarios de XM</a>
</div>

<!-- Use any element to open the sidenav -->
<span (click)="openNav()" style="position: relative; bottom: 39px; left: 1px">
  <img src="../../assets/menu-icon-18.png" width="40" >
</span>

<div class=container>
  <h1>Entidades Reguladoras</h1>
    <ul>
      <li *ngFor="let regulator of regulators">
        <ul>
          <li>ID: {{ regulator.idEntidadReguladora }}</li>
          <li>Nombre: {{ regulator.nombre }}</li>
        </ul>
      </li>
    </ul>
</div>